{% extends 'base.html' %}

{% block content %}
{% for product in product_list %}
    {% for colname in product.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}


<div class="container d-flex mt-5" style="width: 70%;">
    <div class="col">
        <h1 class="text-center">Products</h1>
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">ID</th>
                    <th class="text-center" scope="col">Category</th>
                    <th class="text-center" scope="col">Name</th>
                    <th class="text-center" scope="col">Description</th>
                    <th class="text-center" scope="col">Slug</th>
                    <th class="text-center" scope="col">Price</th>
                    <th class="text-center" scope="col">User</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            
                {% for product in product_list %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
                    <td class="ml-5"><a href="{% url 'products:product_detail' product.id %}">{{product.id}}</a></td>
                    <td class="text-center">{{product.cat}}</td>
                    <td class="text-center">{{product.name}}</td>
                    <td class="text-center">{{product.description}}</td>
                    <td class="text-center">{{product.slug}}</td>
                    <td class="text-center">{{product.price | floatformat:2}}</td>
                    <td class="text-center">{{product.created_user}}</td>
                    <td><a href="{% url 'products:product_update' product.id %} ">Update</a></td>
                    <td><a href="{% url 'products:product_delete' product.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        
            </tbody>
        </table>    
        <div class="d-flex justify-content-center">
            <a href="{% url 'products:product_create' %}" class="d-block btn btn-primary btn-lg my-5">Add New</a>
        </div>
    </div>
        
</div>

{% endblock content %}