{% extends 'core/base.html' %}

{% load static %}
{% block content %}
<div class="relative isolate overflow-hidden bg-gray-900 py-12 sm:py-32 text-center">
    <img src="{% static 'background_3.jpg' %}" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
    <div class="max-w-lg mx-auto flex flex-wrap p-0">
        <div class="w-full bg-gray-800 p-3 rounded-xl">
            <div class="flex min-h-full flex-col justify-center px-6 py-6 lg:px-8">
                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                  <a class="mx-auto h-10 w-auto" href="/" alt="UderzoAI">
                  <img src="{% static 'appicon.png' %}" class="mx-auto"/>
                  </a>
                  <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Register for account</h2>
                </div>
              
                <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                  <form class="space-y-6" action="{% url 'register' %}" method="POST">
                    {% csrf_token %} 
                    <div>
                      <label for="username" class="block text-sm font-medium leading-6 text-white">Username</label>
                      <div class="mt-2">
                        <input id="username" name="username" type="text" required 
                        class="block w-full 
                        rounded-md 
                        border-0 
                        bg-white/5
                        px-3
                        py-1.5 
                        text-white 
                        shadow-sm 
                        ring-1 
                        ring-inset 
                        ring-white/10 
                        focus:ring-2 
                        focus:ring-inset 
                        focus:ring-indigo-500 
                        sm:text-sm 
                        sm:leading-6">
                      </div>
                    </div>

                    <div>
                      <label for="first_name" class="block text-sm font-medium leading-6 text-white">First name</label>
                      <div class="mt-2">
                        <input id="first_name" name="first_name" type="text" required 
                        class="block 
                        w-full 
                        rounded-md 
                        border-0 
                        bg-white/5
                        px-3
                        py-1.5 
                        text-white 
                        shadow-sm 
                        ring-1 
                        ring-inset 
                        ring-white/10 
                        focus:ring-2 
                        focus:ring-inset 
                        focus:ring-indigo-500 
                        sm:text-sm 
                        sm:leading-6"
                        >
                      </div>
                    </div>

                    <div>
                      <label for="last_name" class="block text-sm font-medium leading-6 text-white">Last name</label>
                      <div class="mt-2">
                        <input id="last_name" name="last_name" type="text" required 
                        class="block 
                        w-full 
                        rounded-md 
                        border-0 
                        bg-white/5
                        px-3
                        py-1.5 
                        text-white 
                        shadow-sm 
                        ring-1 
                        ring-inset 
                        ring-white/10 
                        focus:ring-2 
                        focus:ring-inset 
                        focus:ring-indigo-500 
                        sm:text-sm 
                        sm:leading-6">
                      </div>
                    </div>

                    <div>
                      <label for="email" class="block text-sm font-medium leading-6 text-white">Email address</label>
                      <div class="mt-2">
                        <input id="email" name="email" type="email" autocomplete="email" required 
                        class="block 
                        w-full rounded-md border-0 
                        bg-white/5
                        px-3
                        py-1.5 
                        text-white 
                        shadow-sm 
                        ring-1 
                        ring-inset 
                        ring-white/10 
                        focus:ring-2 
                        focus:ring-inset 
                        focus:ring-indigo-500 
                        sm:text-sm 
                        sm:leading-6"
                        >
                      </div>
                    </div>
              
                    <div>
                      <div class="flex items-center justify-between">
                        <label for="password1" class="block text-sm font-medium leading-6 text-white">Password</label>
                      </div>
                      <div class="mt-2">
                        <input id="password1" name="password1" type="password" autocomplete="current-password" required 
                        class="block w-full 
                        rounded-md 
                        border-0 
                        bg-white/5
                        px-3
                        py-1.5 
                        text-white 
                        shadow-sm 
                        ring-1 
                        ring-inset 
                        ring-white/10 
                        focus:ring-2 
                        focus:ring-inset 
                        focus:ring-indigo-500 
                        sm:text-sm 
                        sm:leading-6">
                      </div>
                    </div>
             
                    <div>
                        <div class="flex items-center justify-between">
                          <label for="password2" class="block text-sm font-medium leading-6 text-white">Password (again)</label>
                        </div>
                        <div class="mt-2">
                          <input id="password2" name="password2" type="password" autocomplete="current-password" required 
                          class="block 
                          w-full 
                          rounded-md 
                          border-0 
                          bg-white/5
                          px-3
                          py-1.5 
                          text-white 
                          shadow-sm 
                          ring-1 
                          ring-inset 
                          ring-white/10 
                          focus:ring-2 
                          focus:ring-inset 
                          focus:ring-indigo-500 
                          sm:text-sm 
                          sm:leading-6"
                          >
                        </div>
                    </div>
                   
                    {% if form.errors %}
                      {% for field in form %}
                        {% for error in field.errors %}
                        <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                            <p>{{ error|escape }}</p>
                        </div>
                      {% endfor %}
                      {% endfor %}

                      {% for error in form.non_field_errors %}
                        <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                          <p>{{ error|escape }}</p>
                        </div>
                      {% endfor %}
                    {% endif %}
                    
                    <div class="mt-4">
                      <input type="submit" value="Register" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                    </div>
                  </form>
              
                  <p class="mt-10 text-center text-sm text-gray-400">
                    Already a member?
                    <a href="{% url 'login' %}" class="font-semibold leading-6 text-indigo-400 hover:text-indigo-300">Login here</a>
                  </p>
                </div>
            </div>
            
            </div>
        </div>
</div>

{% endblock %}